body {background-color:rgb(255, 255, 255);}
li.example{color: rgb(0, 0, 0);}
.pre{background-color:rgb(138, 192, 193)}
p.example{color:rgb(43, 142, 229)} 
p#example{
    color: rgb(255, 0, 0);
    margin-left: 10rem;
    width: 10rem;
    height: 7.5rem;
    padding: 2.5rem 4rem 3rem 4rem;
    border-color: dimgrey;
    border-style: dotted; 
    border-bottom: 3px solid yellowgreen;
}
.photo{
    width: 5rem;
    height: 5rem;
}